
MainContainer {
    width: 100%;
}

CredentialInput {
    width: 100%;
    background: $boost;
    margin: 1;
    padding: 1;
    height: 14;
}

Input {
    
}

CredInput_Layer2 {
    width: 100%;
    layout: horizontal;
    margin: 1;
}

ProgBars {
    width: 50%;
}

#fetch {
    width: 15%;
}

#name_uid_display {
    width: 35%;
    margin-top: 1;
    text-align: center;
}

