
MainContainer {
    width: 100%;
}

CredentialInput {
    width: 100%;
    background: $boost;
    margin: 1;
    padding: 1;
    height: 14;
}

Input {
    
}

CredInput_Layer2 {
    width: 100%;
    border: black;
    layout: horizontal;
}

ProgBars {
    width: 50%;
}

#fetch {
    width: 15%;
}

CredentialDisplay {
    width: 35%;
}

#name_label {
    width: 100%;
    text-align: center;
}

#name_display {
    width: 100%;
    text-align: center;
}

#uid_display {
    width: 100%;
    text-align: center;
}