
MainContainer {
    width: 100%;
}



CredInput_Layer1 {
    width: 100%;
}

CredInput_Layer2 {
    width: 100%;
    padding: 1;
    layout: horizontal;
}

ProgBars {
    width: 30%;
}

#close {
    width: 15%;
    display: none;
}
#load {
    width: 15%;
}
#saved {
    width: 15%;
}
#fetch {
    width: 15%;
    display: none;
}
.profile_loaded #close {
    display: block;
}
.profile_loaded #load {
    display: none;
}
.profile_loaded #saved {
    display: none;
}
.profile_loaded #fetch {
    display: block;
}


CredentialDisplay {
    width: 20%;
}

#name_label {
    width: 100%;
    text-align: center;
}

#name_display {
    width: 100%;
    text-align: center;
}

#uid_display {
    width: 100%;
    text-align: center;
}

.hidden SavedCredentials {
    display: none;
}
.hidden #profile_options {
    display: none;
}